.project-box {
    display: flex;
    background-color: #6E85B7;
    border-radius: 20px;
    width: 540px;
    height: 274px;
    margin-bottom: 36px;
    border: 2px solid transparent;
    transition: filter 0.3s ease, transform 0.3s ease;
}
  
.project-box h2{
    color: #FCFFEE;
    margin: 0px;
} 
  
.project-box p{
    color: #FCFFEE;
    line-height: 26px;
    margin: 0px;
} 
  
.project-box i{
    color: #FCFFEE;
}

/* GLASS EFFECT */
/* .project-box {
    position: relative;
    overflow: hidden;
}

.project-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255,255,255,0.2), rgba(255,255,255,0));
    transform: skewX(-25deg);
    transition: left 0.6s ease;
}

.project-box-link:hover .project-box::before {
    left: 125%;
} */

.project-box-link:hover .project-box {
    border: 2px dashed #FCFFEE;
    filter: brightness(1.1) contrast(1.1);
    transform: scale(1.02);
}

.project-heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFFEE;
    width: 36px;
    border-radius: 16px;
    padding: 8px;
}

.project-logo {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}
  
.project-text-section {
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
    box-sizing: border-box;
    height: fit-content;
    gap: 16px;
}
  
.tags-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    row-gap: 12px;
}
  
.tag {
    display: flex;
    background-color: #FCFFEE;
    border-radius: 8px;
    width: fit-content;
    padding: 0px 16px;
}
  
.tag p {
    color: #6E85B7;
}

@media screen and (max-width: 1210px) {
    .project-box{
        width: 492px;
        height: fit-content;
    }
}

@media screen and (max-width: 1120px) {
    .project-box{
        width: 436px;
        height: fit-content;
    }
}

@media screen and (max-width: 946px) {
    .project-box{
        width: 384px;
        height: fit-content;
    }
}

@media screen and (max-width: 832px) {
    .project-box{
        width: 760px;
        height: fit-content;
    }
}

@media screen and (max-width: 436px) {
    h2 {
        font-size: 1.2rem;
    }

    .logo-container {
        width: 24px;
        border-radius: 12px;
    }
}