.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #2E4356;
}

.a-links{
  color: #6E85B7;
  font-weight: 600;
}

.a-links:hover {
  color:#fee569;
}

.centered {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid #6E85B7; 
  white-space: nowrap;
  animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

.hidden {
  visibility: hidden;
}

#discoverButton {
  position: relative;
  display: inline-block;
  padding: 15px 32px;
  width: 230px;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #6E85B7;         
  border-radius: 24px;
  background-color: transparent;
  color: #2E4356;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 12s;
  z-index: 1;                         
}

#discoverButton span {
  position: relative;
  z-index: 2;                        
  transition: color 0.4s ease-in-out;
}

#discoverButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fae05d;
  z-index: 0;                        
  transition: width 0.4s ease-in-out;
  border-radius: inherit;            
}

#discoverButton:hover::before {
  width: 100%;
}

#discoverButton:hover span {
  color: #6E85B7; 
}

/* Fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

input[type=checkbox] {
  display: none;
} 

/* waving emoji animation */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #6E85B7; } 
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1030px) {
  .desktop {
    display: block;
  }

  .tablet {
    display: none;
  }

  .mobile {
    display: none;
  }

  .line_1,
  .line_2,
  .line_3 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 0.5rem auto;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .line_1 {
    /* define animation types for text + cursor */
    animation: 
      animated-text_1 1s steps(16) 1s 1 normal both,
      animated-cursor_3 900ms steps(30) infinite;
  }
  
  .line_2 {
    /* border-right: 4px solid #6E85B7; */
    animation: 
      animated-text_2 5s steps(70) 1s 1 normal both,
      animated-cursor_3 900ms steps(30) infinite; 
    -webkit-animation-delay: 2s;
    animation-delay: 3s;
  }

  .line_3 {
    border-right: 4px solid #cddbee;
    animation: 
      animated-text_3 4s steps(40) 1s 1 normal both,
      animated-cursor_3 950ms steps(30) infinite;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
  }

  @keyframes animated-cursor {
    from {
      border-right-color: #cddbee;
    }
  }

  @keyframes animated-cursor_3 {
    from {
      border-right-color: #cddbee;
    }
    to {
      border-right-color: #6E85B7;
    } 
  }

  @keyframes animated-text_1 {
    from {
      width: 0;
    }
    to {
      width: 12.8rem;
    }
  }

  @keyframes animated-text_2 {
    from {
      width: 0;
    }
    to {
      width: 68rem;
    }
  }

  @keyframes animated-text_3 {
    from {
      width: 0;
    }
    to {
      width: 39rem
    }
  }
      
}

@media screen and (min-width: 768px) and (max-width: 1029px) {
    .desktop {
      display: none;
    }

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .line_1,
    .line_2,
    .line_3, 
    .line_4{
      white-space: nowrap; /* keep text in one line */
      overflow: hidden; /* hide text behind the cursor */
      margin: 0.5rem auto;
      font-size: 2rem;
      font-weight: bold;
    }
  
    .line_1 {
      /* border-right: 4px solid #6E85B7; */
      /* define animation types for text + cursor */
      animation: 
        animated-text_1 1s steps(14) 1s 1 normal both,
        animated-cursor_4 900ms steps(30);
    }
  
    .line_2 {
      /* border-right: 4px solid #6E85B7; */
      animation: 
        animated-text_2 2.4s steps(30) 1s 1 normal both,
        animated-cursor_4 900ms steps(30);
      -webkit-animation-delay: 2.5s;
      animation-delay: 2.5s;
    }

    .line_3 {
      animation: 
        animated-text_3 3s steps(40) 1s 1 normal both,
        animated-cursor_4 900ms steps(40);  
      -webkit-animation-delay: 5.2s;
      animation-delay: 5.2s;
    }

    .line_4 {
      border-right: 4px solid #cddbee;
      animation: 
        animated-text_4 4s steps(40) 1s 1 normal both,
        animated-cursor_4 950ms steps(40) infinite;
      -webkit-animation-delay: 8.2s;
      animation-delay: 8.2s;
    }
    
    @keyframes animated-cursor {
      from {
        border-right-color: #6E85B7;
      }
    }

    @keyframes animated-cursor_4 {
      from {
        border-right-color: #cddbee;
      }
      to {
        border-right-color: #6E85B7;
      } 

    }

    @keyframes animated-text_1 {
      from {
        width: 0;
      }
      to {
        width: 12.8rem;
      }
    }

    @keyframes animated-text_2 {
      from {
        width: 0;
      }
      to {
        width: 30rem;
      }
    }

    @keyframes animated-text_3 {
      from {
        width: 0;
      }
      to {
        width: 38rem;
      }
    }

    @keyframes animated-text_4 {
      from {
        width: 0;
      }
      to {
        width: 39rem
      }
    }

    .text-section {
      padding: 0px 2rem;
    }
}

@media screen and (max-width: 767px){
  .desktop {
    display: none;
  }

  .tablet {
    display: none;
  }

  .mobile {
    display: block;
  }

  .text-section {
    padding: 0px 2rem;
  }

  .lineStyling {
    white-space: nowrap; /* keep text in one line */
    margin: 0.5rem auto;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  #discoverButton {
    animation-delay: 0s;
  }
}
